<footer class="footer" ngClass.lt-md="text-center" ngClass.gt-sm="text-right">
  <div style="margin-bottom: 0.5rem">
    <a href="https://www.flaticon.com/free-icons/mailbox" title="mailbox icons" target="_blank">
      <small> Mailbox icons created by Freepik - Flaticon </small>
    </a>
    <small style="display: block">
      Photos by
      <a href="https://www.pexels.com/@tnarg" title="tnarg on Pexels" target="_blank"> Tnarg </a>
      and
      <a href="https://www.pexels.com/@cottonbro" title="cottonbro on Pexels" target="_blank"> cottonbro </a>
      - Pexels
    </small>
  </div>
  <div>
    <span>
      Made with ❤ by
      <a style="color: var(--color-accent)" href="https://github.com/mazyn" target="_blank" title="My Github">
        mazyn
      </a>
      , for
      <a style="color: var(--color-scalio)" href="https://scal.io/" target="_blank"><b>Scalio.</b></a>
    </span>
  </div>
</footer>
