button {
  background-color: var(--color-text);
  border: none;
  color: var(--color-accent);
  font-family: var(--font-accent);
  text-transform: uppercase;
  font-size: var(--font-size-6);
  font-weight: 700;
  transition: all .2s ease-out;
  will-change: background-color, color;
}

button:hover {
  background-color: var(--color-accent);
  color: var(--color-text);
}

.button-inverted {
  background-color: var(--color-accent);
  color: var(--color-text);
}
