/* You can add global styles to this file, and also import other style files */

/**
 * Theme variables
 */

:root {
  --font-primary: 'Oxygen', sans-serif;
  --font-accent: 'Aldrich', 'Oxygen', sans-serif;
  --font-size-1: 5.653rem;
  --font-size-2: 3.998rem;
  --font-size-3: 2.827rem;
  --font-size-4: 1.999rem;
  --font-size-5: 1.414rem;
  --font-size-6: 1rem;
  --color-primary: #0E1428;
  --color-accent: #FD4900;
  --color-accent-dark: #E14000;
  --color-accent-darker: #d33600;
  --color-tertiary: #EEC631;
  --color-text: #FFF;
  --color-scalio: #D5333E;
}

/**
 * Generic CSS best practices/guidelines
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, article, aside,
canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time,
mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  font-size: 100%;
}

body {
  height: 100vh;
  width: 100%;
  color: var(--color-text);
}

*, ::before, ::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

ul,
li {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button, a {
  cursor: pointer;
}

/**
 * Augment Fourth Scale (1.414)
 */

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: var(--font-accent);
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: var(--font-size-1);
}

h2 {
  font-size: var(--font-size-2);
}

h3 {
  font-size: var(--font-size-3);
}

h4 {
  font-size: var(--font-size-4);
}

h5 {
  font-size: var(--font-size-5);
}

p {
  margin-bottom: 1rem;
}

small, .text_small {
  font-size: 0.707rem;
}

body, input, button, select, option, textarea {
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-text);
}

/**
 * Generic components
 */

.container {
  padding: 1rem 1.5rem 0;
  min-height: 100%;
  background-color: var(--color-primary);
}

.text-clip-horizontal {
  display: inline-block;
  background: linear-gradient(to top, var(--color-text) 50%, var(--color-accent) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

input, textarea {
  border: 1px solid var(--color-text);
  background-color: transparent;
  font-size: var(--font-size-5);
  padding: .5rem 1rem;
}

input {
  font-family: var(--font-accent);
  transition: all .2s ease-out;
  will-change: border-color;
}

textarea {
  font-family: var(--font-primary);
}

input::placeholder, textarea::placeholder {
  color: var(--color-text);
}

input:focus, input.input-hover {
  border-color: var(--color-accent);
}

.width-100 {
  width: 100%;
}

.width-85 {
  width: 85%;
}

.banner-md {
  width: calc(100% + 3rem);
  height: 33.33vh;
  object-fit: cover;
  object-position: center;
  margin: -1.5rem 0 0 -1.5rem;
}
