<main class="container" role="main">
  <div fxLayout="row" fxFlex="100">
    <div fxFlex="33" fxHide.lt-md class="banner-lg"></div>
    <div fxFlex="67" fxFlex.lt-md="100" fxLayout="column">
      <div style="height: 100%">
        <img src="../../../assets/images/banner-small.jpg" alt="banner" class="banner-md" fxHide.gt-sm="true" />
        <h1 fxShow.lt-lg="false" role="heading" class="heading-title">
          {{ headingText | uppercase }} <span style="color: var(--color-accent)">YOUR</span> ID.
        </h1>
        <h2 fxShow.lt-md="false" fxShow.gt-md="false" role="heading" class="heading-title">
          {{ headingText | uppercase }} <span style="color: var(--color-accent)">YOUR</span> ID.
        </h2>
        <h3 fxShow.gt-sm="false" role="heading" class="heading-title" ngClass.xs.textClip="text-clip-horizontal">
          {{ headingText | uppercase }} <span style="color: var(--color-accent)">YOUR</span> ID.
        </h3>
        <p><em>Actually, just the ones from 1 to 10. But don't tell anyone.</em></p>
        <form class="id-input-wrapper" fxLayout="row" (ngSubmit)="onSubmit()">
          <input
            #idInput
            [(ngModel)]="id"
            [ngModelOptions]="{ standalone: true }"
            placeholder="Tell us your ID"
            type="tel"
            mask="00"
            [allowNegativeNumbers]="false"
            fxFlex="75"
            aria-label="Input for ID"
            title="Tell us your ID, and we'll bring something for you."
          />
          <button
            id="id-button"
            fxFlex="25"
            type="submit"
            (mouseenter)="onButtonHoverEnter()"
            (mouseleave)="onButtonHoverLeave()"
            title="Send"
          >
            Send
          </button>
        </form>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</main>
