<main class="container" role="main">
  <div fxFlex="100" fxLayout="row" fxLayoutGap="24">
    <div fxFlex="50" fxLayout="column">
      <div style="height: 100%">
        <h3 [title]="selectedPost?.title">{{ selectedPost?.title }}</h3>
        <div class="post-body-wrapper">
          <textarea [title]="selectedPost?.body" [value]="selectedPost?.body" readonly></textarea>
          <a class="go-back-link" routerLink="/" title="Return to home page">Go Back</a>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
    <div fxFlex="50" class="post-details-img"></div>
  </div>
</main>
